<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || 'Flipr App' %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <% include ../includes/header %>

  <main>
    <%- body %>
  </main>

  <% include ../includes/footer %>

</body>
</html>
